

    body {
        background-image: url('https://mrwallpaper.com/images/hd/mars-ashy-surface-m8ncnu7mkgi2m1vb.jpg');
        color: #FFFFFF;
    }


    p {
        font-size: 19;
        text-align: center;
    }


    .Home-Button { 
        font-family: Arial;
        font-size: 30;
        margin: auto;
        display: flex;
        display: grid;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
        border-radius: 5px;
        background-color: rgb(221, 102, 84);
    }
    
    .Home-Button:hover {
        background-color: rgb(237, 130, 36);
        cursor: pointer;
        font: black;
        border:rgb(168, 58, 52);
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    a:link {
        text-decoration: none;
        color: black; 
    }

    a:hover {
        color: blue;
    }
    
    a:visited {
        color: black;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    td {
        font-size: 19;
        font-family: Verdana;
        border: 1px solid;
        color: black;
        text-align: left;
        padding: 20px;
    }
    table {
        background-color: rgb(241, 228, 195);
        width: 55%;
    }
 

